
<%= javascript_include_tag 'jquery.min' %>
<%= javascript_include_tag 'jquery.mobile.customized.min' %>
<%= javascript_include_tag 'jquery.easing.1.3' %>
<%= javascript_include_tag 'camera.min' %>

<style type="text/css">
#ref{
width:100%;
margin-top:150px;

font-size:14px;
color:#464646;
font-family: Arial,Helvetica,sans-serif;

}
li{list-style:none;
display:block;
height:20px;
}
span {
width:100px;
padding-left:5px;
padding-right:10px;
text-align:left;
display:inline-block;}

</style>
	
<div id="container">

		<div id="ref">
		<h3>Reference</h3>
			<ul>
				<li>1.<span>Twicpic</span><a href="http://twitpic.com" target="_blank">http://twitpic.com</a></li>
				<li>2.<span>Yfrog</span><a href="http://yfrog.com" target="_blank">http://yfrog.com</a></li>
				<li>3.<span>Flickr</span><a href="http://www.flickr.com" target="_blank">http://www.flickr.com/</a></li>
			</ul>
		</div>
		<div id="cssvalidate">
		<h3>css2.1 validation result</h3>
				<p>
		    <a href="http://jigsaw.w3.org/css-validator/check/referer">
		        <img style="border:0;width:88px;height:31px"
		            src="http://jigsaw.w3.org/css-validator/images/vcss"
		            alt="Valid CSS!" />
		    </a>
		</p>
		<p>
			<a href="http://jigsaw.w3.org/css-validator/check/referer">
			    <img style="border:0;width:88px;height:31px"
			        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
			        alt="Valid CSS!" />
			</a>
			</p>
		</div>
		<div id="htmlvalidate">
		<h3>html5 validation result</h3>
<img src="/assets/img/indexc.png" alt="index validation result" />
			<img src="/assets/img/regc.png" alt="registe validation result" />
			<img src="/assets/img/sinc.png" alt="signin validation result" />
			<img src="/assets/img/profilec.png" alt="profile validation result" />
			<img src="/assets/img/comc.png" alt="comment validation result" />
		</div>

		
</div>
